@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Kisvarda.Dnn.Dnn.Kisvarda.Aukcio.Models.Item>>

@using DotNetNuke.Web.Mvc.Helpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="../../module.css" />

<div class="guest-auction-container">
    <h1>Welcome to Auctions</h1>
    <p>Please log in to place bids.</p>

    <div class="static-auctions">
        <h3>Available Auctions</h3>
        <ul>
            @foreach (var auction in Model)
            {
                <li>
                    <img src="@auction.ImageUrl" alt="@auction.ItemName" class="auction-image" />
                    <h4>@auction.ItemName</h4>
                    <p>@auction.ItemDescription</p>
                    <p>Current highest bid: $@(auction.HighestBid ?? 0)</p>
                    <p>Original put-up price: $@auction.StartingPrice</p>
                </li>
            }
        </ul>
    </div>
</div>
